extends ./layout.pug

block content
    header.masthead(style="background-image: url('img/home-bg.jpg')")
      .overlay
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .site-heading
              h1 Blog
              span.subheading Under Construction
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-preview
            a(href='/post-1')
              h2.post-title This is test post 1
              h3.post-subtitle This is the subtitle.
            p.post-meta Posted by: 
              a(href='#') Devon Khosa on June 22, 2020
          hr
          .post-preview
            a(href='post.html')
              h2.post-title Test post 2
            p.post-meta Posted by: 
              a(href='#') Devon Khosa on June 22, 2020
          hr

          .clearfix
            a.btn.btn-primary.float-right(href='#') Older Posts &rarr;
    hr