extends ./layout.pug

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-5 Hi
      p.lead I'm Devon - A software developer from Calgary.
      a.navlink(href='https://ca.linkedin.com/in/devon-khosa-0b94a61a2') devonkhosa@gmail.com
      hr.my-4
      //img(src='/img/giphy.gif')
