extends ./layout.pug

block content
  .jumbotron.jumbotron-fluid
    .container
      h1.display-5 Hi
      span.subheading 
      p.lead I'm Devon - A software devleoper from Calgary.
      hr.my-4
      //img(src='/img/giphy.gif')
